# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.XYZ_Project.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Unity\Projects\_GitHub\XYZ_Project\XYZ_Project\.idea\.idea.XYZ_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
